
.admin__container{
    margin:  0 auto;
    width: 70%;
    /* height: 50%; */
    border: 1px solid ;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
}


th, td {
  padding: 10px 15px;
  text-align: center;
  width: 150px; 
  max-width: 150px;
  border-bottom: 1px solid black ;
  
}

th {
  background-color: var(--color-principal);
  color: white;
  text-transform: uppercase;
  
}

tr:hover {
  background-color: #f9f9f9;
}




