.admin__container{
    margin:  0 auto;
    width: 50%;
    /* height: 50%; */
    border: 1px solid ;
}

.workouts__list{
    /* margin: 0 auto; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.workout-item{
    display: flex;
}

input[type="checkbox"]:disabled {
  accent-color: red; /* gris suave */
  cursor: not-allowed;
  opacity: 0.7;
}
