img{
  width: 150px;
  
}
.admin__container{
    margin:  0 auto;
    width: 70%;
    /* height: 50%; */
    border: 1px solid ;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
}


th, td {
  padding: 10px 15px;
  text-align: center;
  width: 150px; 
  max-width: 150px;
  border-bottom: 1px solid black ;
  
}

td > img{
  width: 100%;
}

th {
  background-color: var(--color-principal);
  color: white;
  text-transform: uppercase;
  
}

tr:hover {
  background-color: #f9f9f9;
}

.overlay__form{
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0 , 0.6);
}

.admin__form{
  background-color: #f9f9f9;
  position: relative;
  width: fit-content;
  top: 40%;
  left: 40%;
  padding: 50px;
}

.admin__form > label{
  display: block;
  width: 300px;
}

.admin__form > button {
  margin: 10px ;
  padding: 10px;
}







