.login-form__container{
    margin: 0 auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    overflow:hidden;
}

.login-form__img{
    width:100px;
    height: 100px;
    border-radius:50%;
}