@media (max-width:1050px){
     .navbar{
            width: 100%;
            border-radius: 0px;
            border: 0px;
            box-sizing: border-box;
            margin: 0;
        }
    
    .hamburger{
        display: flex ;

    }

    .navbar__nav{
        position: absolute;
        flex-direction: column;
        top: 101px;
        width: 150px;
        transform: translateX(-100%);
        transition: all 0.3s ease-in-out;
        background-color: white;
    }
    
     .navbar__nav__login{
        position: absolute;
        flex-direction: column;
        top: 470px;
        width: 150px;
        transform: translateX(-100%);
        transition: all 0.3s ease-in-out;
        background-color: white;
    }

    .navbar__nav.active {
        transform: translateX(0);
    }

    .navbar__nav__login.active {
        display: flex; 
        transform: translateX(0);
    }
    /* Contenido principal - 1320px  */

    /* Sobre mi - 1320 px*/

    .about-me__carousel{
        width: 70vw;
        margin: 0;
        transform: translateX(-50%);
        left: 50%;
    }


    .about-me__text{
        overflow-y: auto;
    }

    .about-me__carousel-slide{
        overflow: hidden;
    }

    /* Servicios */

    
    .services__title{
        font-size: 1.5rem;
    }

       

    .services__item{
    width: 300px;
    margin: 20px;
    height: 450px;
    }

    .services__item:hover{
        transform: scale(1.05);
        transition: all 0.2s ease-in;
    }

     .services__item__containerImg{
        position: relative;
        height: 350px;
        
    }
        

     
    
    .services__item:hover .services__item__overlay{
        position: absolute;
        top: 0;
        background-color: #041920;
        opacity: 0.5;
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }


    .reviews-slider{
        width: 50%;
        
    }
    }

/* media para tablets pequeñas y celulares */
    
@media (max-width:850px){

        .hamburger span{
            width: 30px;
            height: 4px;
        }

        /* .navbar__logo{
            width: 60px;
            height: 60px;
        } */
        
        /* about me - 800px */
        .about-me__carousel{
            width: 90vw;
            height: 95vh;
        }

        .about-me__carousel-slide{
            width: 90vw;
            height: 95vh;
        }

        .about-me__title{
            text-align: center;
        }
        .about-me__img{
            width: 90%;
        }

        .about-me__text{
            width: 90%;
            padding: 5px;
        }

        .carousel-btn{
            padding: 0;
        }

        /* Servicios - 800px*/
        .services__content{
        flex-direction: column; 
        overflow-y: auto;
        scroll-snap-type: y mandatory; 
        -webkit-overflow-scrolling: touch; 
        flex-wrap: wrap;
        }

        .services__item{
            
            scroll-snap-align:start;
        }

        .contact{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .contact__container{
            margin: 0;
            width: 90%;
            box-sizing: border-box;
        }
    }

@media (max-width: 1100px) and (orientation: landscape)  { 
    

    /* servicios */

    
     /* .services__item{
        position: relative;
        height: 250px;
        width: 140px;
    } */

    /* .services__title{
        font-size: 1.5rem;
        margin: 20px;
    }

    .services__item__title{
        font-size: 1.2rem;
    }

    .services__content{
        height: 330px;
    }

    .services__item__text{
        box-sizing: border-box;
    }
    .services__item:hover{
        transform: scale(1.1);

    } */


   /* .services__item__containerImg{
        position: relative;

    } */
    
    /* .services__item:hover .services__item__overlay{
        position: absolute;
        top: 0;
        background-color: #041920;
        opacity: 0.5;
        height: 100%;
        width: 100%;
        
    } */


}

@media(max-width:950px) and (orientation: landscape) {
    .fixed__wpp{
        left: 10px;
        width: 50px;
        height: 50px;
    }
}



/* -------------------------------------------------- */

@media (max-width:490px) {
/* ------nav bar-------- */
.navbar{
    position: absolute;
    top: 0;
    justify-content: start;
}

    .navbar__logo{
        width: 70px;
        height: 70px;
    }


/* --------Hero----- */
.hero,
.hero__background{
    height: 100vh;
}


/* ------Filtros------------ */
    .workouts__filter{
        width: 100%;
        box-sizing: border-box;
        border: none;
        position: fixed;
        transform: translateX(-100%);
        transition: transform .35s ease;
        z-index: 10;
    }

    .workouts__show-filters, .cerrar-filtro{
        margin-top: 10px;
        background: white;
        color: #333;
        border: 1px solid #b1adad;
        border-radius: 10px;
        padding: 5px 10px;
        font-weight: 600;       
    }

   
    .workouts__filters .mostrar {
        transform: translateX(0);
        z-index: 200;
        background-color: white;
        /* padding: 35px; */
        border-radius: 15px;
    }

    .search__title{
        display: none;
        color: white;
    }
    

    .workouts__filters{
            width: 100%;
            box-sizing: border-box;
        }
    /* ----Contenedor Main--- */
    .workouts{
        display: flex;
        flex-direction: column;
    }
/* ------Servicios/Planes------ */
    .services__content{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .services__item{
    width: 250px;
    margin: 20px;
    height: 300px;
    }
}

