/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* Estilo de base */

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

/* Variables */
:root{
    --color-principal: #0482A3;
}

/* Barra de naveagacion */

.navbar{   
    display: flex;
    position: relative;
    margin: 0 auto;
    max-width: 60vw;
    height: 100px;
    justify-content: space-between;
    border: 1px solid ;
    border-radius: 100px;
}


.navbar__logo{
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-50%);
    height: 90px;
    width: 90px;
    background-image: url(./multimedia/Captura\ de\ pantalla\ 2025-08-30\ 115723.png);
    background-size: cover;
    border-radius: 50%;
}

.navbar__nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.nav__item{
    font-size: 18px;
    padding: 20px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}

.nav__link{
    padding: 10px;
    border-radius: 15px;
}

.nav__link:hover{
    background-color: var(--color-principal);
    color: white;
}

.nav__link__signup{
    color: var(--color-principal);
}

.nav__link__login{
    background-color: var(--color-principal);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.nav__link__login:hover {
    background-color: var(--color-principal);
    opacity: 0.8;
}

.nav__link__signup:hover{
    opacity: 0.8;
}

