@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}


.navbar{   
    display: flex;
    position: relative;
    margin: 0 auto;
    max-width: 60vw;
    height: 100px;
    justify-content: space-between;
    border: 1px solid ;
    border-radius: 30px;
}


.navbar__logo{
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-50%);
    height: 90px;
    width: 90px;
    background-image: url(./multimedia/Captura\ de\ pantalla\ 2025-08-30\ 115723.png);
    background-size: cover;
    border-radius: 50%;
}

.navbar__nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.nav__item{
    font-size: 20px;
    padding: 20px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}

.nav__link{
    padding: 10px;
    border-radius: 15px;
}

.nav__link:hover{
    background-color: rgba(0, 0, 0);
    color: white;
}
