/* tipografia */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* variables */

:root{
    --color-principal: rgb(4, 130, 163);
    --color-secundario:4, 25, 32;
    --color-background-navbar: rgb(255, 255, 255);
    --background-tarjetas:rgba(4,130,163,0.7);
    --background-footer: #cfcfcf ;
    --fuente-principal: Oswald,sans-serif;
    --overlay:rgba(0,0,0,0.3) ;
    --vh: 1vh; 
}

body{
    background-color: var(--color-background-navbar);
    font-family: var(--fuente-principal);
}

.service__container{
    display: flex;
    justify-content: space-evenly ;
    align-items: center;
    padding: 100px;
    margin: 0 auto;
    width: 80% ;
    height: auto ;
    margin: auto auto;
}
.service__content{
    font-size: 1.5rem;   
    width: 40%;
}

.service__img{
    width: 30%;
}

.service__btn-accion {
  /* display: inline-block; */
  margin: 10px;
  padding: 12px 25px;
  background-color: var(--color-principal); 
  color: #fff;
  text-decoration: none;
  border-radius: 8px; 
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
}

.service__btn-accion:hover {
  background-color: #036b88; 
  transform: scale(1.05); 
}



/*------------- media queri para tablet y telefono-------------- */


@media (max-width:1320px){
    .service__container{
        padding: 40px;
        flex-direction: column;
        overflow: hidden;
    }

    .service__img{
        width: 100%;
        height: auto;
    }
    .service__content{
        width: 100%;
    }

}